@media (min-width: 315px){
    .header {
        justify-content: space-between;
        padding: 10px;
    }

    .inicio {
        display: grid;
        grid-template-areas: 
        "texto"
        "img"
        "localizacao";
        grid-template-columns: repeat(1, minmax(360px, 1fr));
        grid-template-rows: repeat(3, 1fr);
    }

    .maps {
        justify-content: center;
        padding: 1rem;
    }

    .mapa__google {
        width: 315px;
        height: 250px;
    }

    .img {
        grid-area: img;
        background-image: url(/img/mellis\ arg\ 2.png);
        background-size: cover;
    }

    .menu {
        display: none;
    }

    .lista {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0px;
        margin-top: 45px;
        padding: 10px;
        background-color: rgba(9, 40, 17, 0.8);
        width: 40vw;
    }

    .lista li {
        margin: 10px;
    }
}

@media (min-width: 670px){

    .inicio {
        display: grid;
        grid-template-areas: 
        "texto img"
        "img-2 img-3"
        "localizacao localizacao";
        grid-template-columns: repeat(2,1fr);
    }

    .img{
        grid-area: img;
        background-image: url(/img/20221026_152033.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1024px){
    
    #menu-btn {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: space-between;
    }

    .lista {
        margin: 0;
        padding: 0;
        flex-direction: row;
        position: static;
        width: auto;
        background-color:#18662c;
    }

    .img{
        grid-area: img;
        background-image: url(/img/quem\ somos.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}